<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="initial-scale=1.0" />
    <link rel="stylesheet" href="./style.css" />
    <title>Subindo img para Node</title>
  </head>

  <body>
    <article class="fundo">
      <h1>Formulário de Imagem</h1>
      <div>
        <form
          action="http://localhost:3000/api/upload"
          method="POST"
          enctype="multipart/form-data"
        >
          <input type="file" name="image" accept="image/*" />
          <button type="submit">Enviar</button>
        </form>
      </div>

      <h2>Imagens Salvas:</h2>
      <div class="image">
        <ul id="image-list"></ul>
      </div>
    </article>

    <script>
      fetch("http://localhost:3000/api/images")
        .then((response) => response.json())
        .then((images) => {
          const imageList = document.getElementById("image-list");
          images.forEach((image) => {
            const li = document.createElement("li");
            const img = document.createElement("img");
            li.style.listStyle = "none";
            img.src = `http://localhost:3000/api/image/${image}`;
            img.style.width = `400px`;
            // ul > li > img
            li.appendChild(img);
            imageList.appendChild(li);
          });
        });
    </script>
  </body>
</html>
